<!DOCTYPE html>
<html lang="en">

<head>

    {% include "head.html.twig" %}
    <title>Sarah Meyer - Ostéopathe D.O.</title>

</head>

<body>

<!-- Navigation -->
{% include "navbar.html.twig" %}

{% include "mhead.html.twig" %}


<div class="container" style="background-color: #FFFFFF">
  <h1 style="align-content: center">La praticienne</h1>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <img class="img-fluid rounded-circle mb-3" src="{{asset('build/img/logo.png')}}" style="align-content: center; width: 80%">
    </div>
    <div class="col-lg-7 offset-lg-1 col-md-6" >
      <p class="font-weight-light mb-0" >
        Diplômée d’une formation sur 5 ans dispensée par le Collège ostéopathique Européen / Holistéa (école agréée
        par le Ministère de la Santé) j’ai été amenée à enrichir ma pratique au travers de prises en charges des
        enfants porteurs de handicap et des sportifs ainsi que par le biais de formations pour la prise en charge
        des nourrissons et des femmes enceintes.
      </p>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-6">
      <h1 class="mb-5">L'ostéopathie</h1>
      <p class="font-weight-light mb-0">Médecine alternative manuelle préventive et curative, l’ostéopathie permet de traiter
        de nombreux maux (physiques ou psychologiques) en agissant sur l'ensemble des systèmes du corps (musculo-squelettique,
        digestif, neurologique, hormonal...)
        <br/>
        <br/>
        La prise en charge du patient se fait dans la globalité avec une prise en compte de l’environnement,
        qu’il soit professionnel ou personnel, et des pathologies ou traumatismes. Par la suite, un bilan complet du corps permet
        de faire ressortir les espaces en dysfonction afin de mettre en place un traitement approprié à chaque individu.
        .</p>
    </div>
    <div class="col-lg-3  offset-lg-1 col-md-6">
      <img class="img-fluid rounded-circle mb-3" src="{{asset('build/img/logo.png')}}" alt="">

    </div>


  </div>
</div>



<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>Fully Responsive</h3>
          <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>Bootstrap 4 Ready</h3>
          <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Easy to Use</h3>
          <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-2 order-lg-2 text-white showcase-img" style="background-image: {{ asset('build/img/Cabinet.jpg')}};"></div>
      <div class="col-lg-8 order-lg-1 my-auto showcase-text">
        <h2>Sarah Meyer</h2>
        <p class="lead mb-0">Diplômée d’une formation sur 5 ans dispensée par le Collège ostéopathique Européen / Holistéa (école agréée
          par le Ministère de la Santé) j’ai été amenée à enrichir ma pratique au travers de prises en charges des
          enfants porteurs de handicap et des sportifs ainsi que par le biais de formations pour la prise en charge
          des nourrissons et des femmes enceintes</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-2 text-white showcase-img" style="background-image: {{ asset('build/img/Cabinet.jpg')}};"></div>
      <div class="col-lg-8 my-auto showcase-text">
        <h2>L'ostéopathie</h2>
        <p class="lead mb-0">Médecine alternative manuelle préventive et curative, l’ostéopathie permet de traiter
          de nombreux maux (physiques ou psychologiques) en agissant sur l'ensemble des systèmes du corps (musculo-squelettique,
          digestif, neurologique, hormonal...)
          <br/>
          <br/>
          La prise en charge du patient se fait dans la globalité avec une prise en compte de l’environnement,
          qu’il soit professionnel ou personnel, et des pathologies ou traumatismes. Par la suite, un bilan complet du corps permet
          de faire ressortir les espaces en dysfonction afin de mettre en place un traitement approprié à chaque individu.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: {{ asset('build/img/Cabinet.jpg')}};"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Easy to Use &amp; Customize</h2>
        <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Avis de patient</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">Avis issu de la page Facebook</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">Avis issu du site des Rages Jaunes</p>
        </div>
      </div>
    </div>
  </div>
</section>


</body>

<!-- Footer -->
{% include 'footer.html.twig' %}
<!-- Bootstrap core JavaScript    -->

<script type="text/javascript" src="{{ asset("build/bootstrap/jquery.js") }}"></script>
<script type="text/javascript" src="{{ asset("build/bootstrap/bootstrap.bundle.js") }}"></script>

</html>
